.Link {
    color: rgb(226, 4, 97);
    font-weight: bold;
    padding: 18px;
    text-decoration: none;
    display: inline-block;
    background-color: rgb(216, 214, 210);
}

.Link:hover{
    color: rgb(236, 42, 74);
    background-color: blueviolet;
}

.Link:focus{
    color: rgb(236, 42, 74);
    background-color: blueviolet;
}